.edit {
    background:url(../images/pencil.svg) 0 0 no-repeat;
    display:inline-block;
    height:25px; /* your image height */
    text-indent:-99999em;
    width:25px; /* your image width */
    overflow:hidden;
}

.del {
    background:url(../images/trash.svg) 0 0 no-repeat;
    display:inline-block;
    height:25px; /* your image height */
    text-indent:-99999em;
    width:25px; /* your image width */
    overflow:hidden;
}
.outer-table{
    border-radius: 0.75em;
}
td, th {
    border: 0;
    border: 2px solid rgb(0, 0, 0);
    background: #c8ffa8;
    padding: 10px 25px;
  }

*{
    box-sizing: border-box;
}

dialog{
    background: #c8ffa8;
}


button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline:none;
    border: 1.5px solid #000000;
    border-radius: 0.75em;
    vertical-align: middle;
    text-decoration: none;
    background: #c8ffa8;
    
}
input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.round-btn{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    line-height: 1.5;
    background: #c8ffa8;
    padding: 1.25em 2em;
    
    font-weight: 700;
    text-transform: uppercase;
    
}

#postTitle, #postDate, #postSummary{
    background-color: rgb(220, 244, 255);
}

.round-btn:hover {
    background: #59e9a1;
    transform: translate(0, .25em);
  }

td:nth-of-type(5), #adminCol {
    display: table-cell;
}




  


  

